alert.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="urn:openhie.org:alerting" elementFormDefault="qualified"
    xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="urn:openhie.org:alerting" xmlns:dsig="http://www.w3.org/2000/09/xmldsig#">
    <xs:import schemaLocation="xmldsig-core-schema.xsd"
        namespace="http://www.w3.org/2000/09/xmldsig#"/>
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" 
        schemaLocation="http://www.w3.org/2001/xml.xsd"/>
    <xs:include schemaLocation="datatypes-base.xsd"/>
    <xs:complexType name="Target">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" name="telecom" type="TEL"/>
        </xs:sequence>
        <xs:attribute name="id">
            <xs:annotation>
                <xs:documentation>Enterprise identifer of the the human recipient</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="QueryTarget">
        <xs:sequence>
            <xs:any/>
        </xs:sequence>
        <xs:attribute name="type" use="required">
            <xs:annotation>
                <xs:documentation>Example:  &lt;ohie:QueryTarget type="urn:ihe:iti:csd:2014:stored-function:facility-search"&gt;</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="IntendedRecipients">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="query-target" type="QueryTarget"> </xs:element>
            <xs:element name="target" type="Target"> </xs:element>
        </xs:choice>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:complexType name="Message">
        <xs:sequence>
            <xs:any/>
        </xs:sequence>
        <xs:attribute name="content-type" use="required">
            <xs:annotation>
                <xs:documentation>mime-type</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="src" type="xs:anyURI">
            <xs:annotation>
                <xs:documentation>Optional attribute.  If present and non-empty then there can be nothing under Message element.  Otherwise content is under Message element. Similar to atom:content. If there is content may include PHI triggering audit requirements.
</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="status-code"/>
        <xs:attribute name="status-code-scheme"/>
        <xs:attribute name="published" type="xs:dateTimeStamp" use="required"/>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="subject-of-care"/>
    </xs:complexType>
    <xs:complexType name="Alert">
        <xs:sequence>
            <xs:element name="intended-recipients" type="IntendedRecipients"/>
            <xs:element name="message" type="Message"/>
            <xs:element minOccurs="0" name="signature" type="dsig:SignatureType">
                <xs:annotation>
                    <xs:documentation>Applies to the preceeding message element</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:sequence>
                <xs:any/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute name="id" use="required"/>
        <xs:attribute name="timestamp" type="xs:dateTimeStamp"/>
        <xs:anyAttribute/>
    </xs:complexType>
    <xs:element name="alert" type="Alert"> </xs:element>
</xs:schema>
